body{
    background-color: #118ab2;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 50px;
    background-color: black;
    color: white;
}

.heromarquee{
    padding: 50px 0px;
    /* background-color: antiquewhite; */
    background: url("../images/lan1.png") center;
}
.sideheading{
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    background-color: orange;
    padding: 10px;
}
.latestmovies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.latestmovies a{
    text-align: center;
}
.containt a img{
    transition: transform, .2s;
}
.containt a img:hover{
    transform: scale(1.2);
}